body {
    background-size: cover;
}

.a {
    font-size:19px;
    color:white;
    margin:30px;
    padding:10px;
}

.heading {
    font-size:23px;
    color:white;
    width:100%;
    margin-top:-1px;
}

.note {
    font-size:15px !important;
    color:black !important;
}

canvas {
    box-shadow:10px 10px 10px grey;
    margin-top:120px;
    padding:0px;
    border:ridge solid silver;
}